.h1Header {
    font-size: 1em;
}
#botonAyuda {
    width: 10%;
    height: 30%;
    border-radius: 10%;
}
.boton {
    height: 200px;
}
.tituloIndex {
    height: 150px;
    color: rgb(24, 124, 124);
}
.formulario {
    width: 550px;
    height: 420px;
    background-color: aquamarine;
    flex-direction: column;
}
.formularioPadre {
    display: flex;
    justify-content: center;
    align-items: center;
}
.tituloFormulario {
    font-size: 1.5rem;
    text-align: center;
}
.formulario label{
    display: flex;
    flex-direction: column;
    margin: 0px 50px 0 50px;
} 
.formulario textarea{
    resize: none;
}
.botonesFormulario {
    margin: 0px 0px 0px 50px;
}
